body {
  width: 100vw;
  min-height: 100vh;
  height: 100vh;
  overflow-y: hidden;
  background-image: linear-gradient(to right, rgb(52, 58, 65), rgb(137, 150, 157));
}

#root {
  max-width: 100%;
  height: 100%;
  margin:auto;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 550px;
  height: 400px;
  padding: 30px 50px;
  border-radius: 50px;
  background-image: linear-gradient(to right, rgb(120, 144, 150), rgb(194, 208, 208));
  margin-bottom: 20px;
}
.main-form {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  width: 450px;
  justify-content: center;
  align-items: center;
}
h2 {
  text-transform: uppercase;
  color: white;
}
.form-input {
  width: 100%;
  border-radius: 5px;
  padding: 15px 0px;
  border: 1px solid rgb(194, 208, 208);
}
.form-login, .socials {
  padding: 0 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form-login {
  color: lightgray;
  font-size: 18px;
  font-weight: 600;
  .forgot-password {
    font-style: italic;
  }
}
.form-input:focus {
  border: none !important;
}
.save-password {
  display: flex;
  column-gap: 10px;
}
.span {
  color: lightgray;
}
.name-input {
  font-size: 16px;
  box-sizing: border-box;
  background-image: url(./Images/user.svg);
  background-position: bottom left;
  background-size: 18px;
  background-repeat: no-repeat;
  padding-left: 50px;
  background-position-x: 10px;
  background-position-y: 25px;
}
.password-input {
  font-size: 16px;
  box-sizing: border-box;
  background-image: url(./Images/password.svg);
  background-position: bottom left;
  background-size: 25px;
  background-repeat: no-repeat;
  padding-left: 50px;
  background-position-x: 10px;
  background-position-y: 22px;
}
button {
  width: 135px;
  height: 30px;
  border: 1px solid transparent;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2) outside;
  color: white;
  letter-spacing: 2px;
}
.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: rgb(52, 58, 65) !important;
  color: white;
  width: 15px;
  height: 15px;
  position: relative;
}
.checkbox:checked::after {
  content: '\2714'; 
  font-size: 12px; 
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
}