* {
  margin: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  column-gap: 3px;
  border: 2px solid rgb(5, 5, 87);
  padding: 10px;
  width: 95vw;
  border-radius: 5px;
}
.img {
  width: 20%;
  height: 200px;
  border: 2px solid gray;
  background-color: antiquewhite;
}
.details {
  display: flex;
  flex-direction: column;
  row-gap: 3px;
  height: 200px;
  width: 80%;
}
.title {
  width: 100%;
  height: 70px;
  border: 2px solid darkred;
}
.description {
  width: 100%;
  height: 124px;
  border: 2px solid rgb(60, 44, 2) !important;
}
