* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 100vw;
  height: 100vh;
  background-image: url(../src/assets/Images/bg-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.mainbody {
  width: 60%;
  display: grid;
  grid-template-columns: 500px 1fr;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  width: 90%;
  justify-content: center;
  align-items: center;
  input {
    font-weight: 700;
    box-sizing: border-box;
    width: 100%;
    padding: 8px 10px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
  }
  input::placeholder {
    font-style: italic;
  }
  input:focus {
    outline: none;
  }
}
.name {
  background-image: url(../src/assets/Images/user-svgrepo-com.svg);
  background-position: 98% center;
  background-size: 20px 20px;
  background-repeat: no-repeat;
}
.location {
  background-image: url(../src/assets/Images/location-pin-alt-1-svgrepo-com.svg);
  background-position: 98% center;
  background-size: 20px 20px;
  background-repeat: no-repeat;
}
img {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 93%;
  top: 25%;
}
.right-col {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 70%;
  overflow-y: auto;
  background-color: lightpink;
  padding: 2% 3%;
  position: absolute;
  right: 20%;
  top: 8%;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.90);
  color: dark purple;
  border: none !important;
  p {
    color: darkred;
  }
}
.modal {
  .number {
    background-image: url(../src/assets/Images/phone-call-svgrepo-com.svg);
    background-position: 98% center;
    background-size: 20px 20px;
    background-repeat: no-repeat;
  }
}
.left-col {
  border: 1px solid transparent;
  background-image: linear-gradient(90deg, rgb(107, 92, 5),rgb(172, 82, 97), purple);
  border-radius: 50px;
  width: 500px;
  box-shadow: 0px 54px 55px rgba(0, 0, 0, 0.25);
}
.formBody {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}
.submitbtn {
  background-color: rgb(35, 22, 35);
  color: white;
  cursor: pointer;
  height: 50px;
}
.submitbtn:hover {
  background-color: white;
  color: rgb(35, 22, 35);
  font-weight: 700;
}
.delbtn {
  background-color: red;
  color: white;
}
.editbtn {
  background-color: blue;
  color: white;
}
.but {
  width: 40%;
  margin: auto 5px;
}
@media screen and (max-width: 768px) {
  .mainbody {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .right-col {
    position: relative;
    width: 300px;
    height: auto;
    right: 0;
    top: 0;
    border-radius: 40px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 850px) {
  .mainbody {
    width: 95%;
    
  }
  .right-col {
    right: 4%;
    top: 7%;
  }
}
@media screen and (min-width: 851px) and (max-width: 950px) {
  .mainbody {
    width: 90%;
    
  }
  .right-col {
    right: 7%;
    top: 8%;
  }
}
@media screen and (min-width: 951px) and (max-width: 1150px) {
  .mainbody {
    width: 80%;
    
  }
  .right-col {
    right: 10%;
    top: 8%;
  }
}
@media screen and (min-width: 1151px) and (max-width: 1350px) {
  .mainbody {
    width: 70%;
    
  }
  .right-col {
    right: 18%;
    top: 10%;
  }
}
